<ion-header [translucent]="true">
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>    
    </ion-buttons>  
    <ion-searchbar mode="ios" cancel-button-icon="arrow-back-sharp" *ngIf="isSearchbarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
    <ion-buttons slot="end">
       <ion-button href='/login' >
        <ion-icon slot="icon-only" name="person-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="pink">
  <ion-menu side="start" menuId="menu" contentId="main">
    <ion-content color="pink">
      <ion-segment><br></ion-segment>
      <ion-segment><br></ion-segment>
      <ion-segment>
        <ion-img  class="ion-text-center" style="width: 70px;" src="../../assets/LOGO.png" href='/home'></ion-img>
      </ion-segment>
      <ion-segment><br></ion-segment>
      <ion-button class="tk-hobo-std" href='/tabs/feed' expand="full" fill="clear" >
        PRACE
      </ion-button>
      <ion-button class="tk-hobo-std" href='/new' expand="full" fill="clear" >
        NAJNOWSZE
      </ion-button>
      <ion-button class="tk-hobo-std" href='/bestsellers' expand="full" fill="clear" >
        BESTSELLERS
      </ion-button>
      <ion-button class="tk-hobo-std" href='/paintings' expand="full" fill="clear" >
        OBRAZY
      </ion-button>
      <ion-button class="tk-hobo-std" href='/posters' expand="full" fill="clear" >
        PLAKATY
      </ion-button>
      <ion-button class="tk-hobo-std" href='/artists' expand="full" fill="clear" >
        TWÓRCY
      </ion-button>
      <ion-button class="tk-hobo-std" href='/contact' expand="full" fill="clear" >
        KONTAKT
      </ion-button>
      <ion-button class="tk-hobo-std" href='/faq' expand="full" fill="clear" >
        FAQ
      </ion-button>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-content color="pink">
    <ion-grid *ngFor="let question of questions; index as i">
          <ion-row>
              <ion-col size="12">
                <ion-item button (click)="answerQuestion(question, i)" detail="false" class="ion-no-margin" style="width: 100%;">
                  <ion-label class="ion-text-wrap">
                    {{ (i+1) + "." + question }}
                  </ion-label>
                </ion-item>
              </ion-col>
        </ion-row>
    </ion-grid>
  </ion-content>