<ion-header>
  <ion-toolbar>
    <ion-title>Edytuj swój profil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="pink">
  <ion-menu side="start" menuId="menu" contentId="main">
    <ion-content color="pink">
      <ion-segment><br></ion-segment>
      <ion-segment><br></ion-segment>
      <ion-segment>
        <ion-img  class="ion-text-center" style="width: 70px;" src="../../assets/LOGO.png" href='/home'></ion-img>
      </ion-segment>
      <ion-segment><br></ion-segment>
      <ion-button class="tk-hobo-std" href='/tabs/feed' expand="full" fill="clear" >
        PRACE
      </ion-button>
      <ion-button class="tk-hobo-std" href='/contact' expand="full" fill="clear" >
        KONTAKT
      </ion-button>
      <ion-button class="tk-hobo-std" href='/faq' expand="full" fill="clear" >
        FAQ
      </ion-button>
      <ion-back-button defaultHref="/"></ion-back-button> 
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

<ion-content padding>

  <app-loading *ngIf="busy"></app-loading>

  <div *ngIf="!busy">

    <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)"/>

    <div>
      <ion-img class="profile-pic" (click)="updateProfilePic()" src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/150x150/center/"></ion-img>

    </div>

    <div class="profile-info">
      <ion-item>
        <ion-label position="floating">Nazwa użytkownika</ion-label>
       <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nowe hasło</ion-label>
       <ion-input [(ngModel)]="newpassword"></ion-input>
      </ion-item>

     <ion-item>
       <ion-label position="floating">Obecne hasło</ion-label>
       <ion-input [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-button fill="solid" expand="block" color="dark" (click)="updateDetails()">Zapisz</ion-button>
    </div>

  </div>



</ion-content>
