<ion-header [translucent]="true">
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>    
    </ion-buttons>  
    <ion-searchbar mode="ios" cancel-button-icon="arrow-back-sharp" *ngIf="isSearchbarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="pink">
  <ion-menu side="start" menuId="menu" contentId="main">
    <ion-content color="pink">
      <ion-segment><br></ion-segment>
      <ion-segment><br></ion-segment>
      <ion-segment>
        <ion-img  class="ion-text-center" style="width: 70px;" src="../../assets/LOGO.png" href='/home'></ion-img>
      </ion-segment>
      <ion-segment><br></ion-segment>
      <ion-button class="tk-hobo-std" href='/tabs/feed' expand="full" fill="clear" >
        PRACE
      </ion-button>
      <ion-button class="tk-hobo-std" href='/new' expand="full" fill="clear" >
        NAJNOWSZE
      </ion-button>
      <ion-button class="tk-hobo-std" href='/bestsellers' expand="full" fill="clear" >
        BESTSELLERS
      </ion-button>
      <ion-button class="tk-hobo-std" href='/paintings' expand="full" fill="clear" >
        OBRAZY
      </ion-button>
      <ion-button class="tk-hobo-std" href='/posters' expand="full" fill="clear" >
        PLAKATY
      </ion-button>
      <ion-button class="tk-hobo-std" href='/artists' expand="full" fill="clear" >
        TWÓRCY
      </ion-button>
      <ion-button class="tk-hobo-std" href='/contact' expand="full" fill="clear" >
        KONTAKT
      </ion-button>
      <ion-button class="tk-hobo-std" href='/faq' expand="full" fill="clear" >
        FAQ
      </ion-button>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

<ion-tabs #tabs>
  <ion-tab-bar slot="bottom"  color="pink">
    <ion-tab-button tab="feed">
      <ion-icon name="layers-sharp"></ion-icon>
      <ion-label>Prace</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="uploader">
      <ion-icon name="cloud-upload-sharp"></ion-icon>
      <ion-label>Wstaw</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-sharp"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

