<ion-header>
  <ion-toolbar>
    <ion-title>Wstaw zdjęcie</ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content padding>
      <ion-menu side="start" menuId="menu" contentId="main">
        <ion-content color="pink">
          <ion-segment><br></ion-segment>
          <ion-segment><br></ion-segment>
          <ion-segment>
            <ion-img  class="ion-text-center" style="width: 70px;" src="../../assets/LOGO.png" href='/home'></ion-img>
          </ion-segment>
          <ion-segment><br></ion-segment>
          <ion-button class="tk-hobo-std" href='/tabs/feed' expand="full" fill="clear" >
            PRACE
          </ion-button>
          <ion-button class="tk-hobo-std" href='/new' expand="full" fill="clear" >
            NAJNOWSZE
          </ion-button>
          <ion-button class="tk-hobo-std" href='/bestsellers' expand="full" fill="clear" >
            BESTSELLERS
          </ion-button>
          <ion-button class="tk-hobo-std" href='/paintings' expand="full" fill="clear" >
            OBRAZY
          </ion-button>
          <ion-button class="tk-hobo-std" href='/posters' expand="full" fill="clear" >
            PLAKATY
          </ion-button>
          <ion-button class="tk-hobo-std" href='/artists' expand="full" fill="clear" >
            TWÓRCY
          </ion-button>
          <ion-button class="tk-hobo-std" href='/contact' expand="full" fill="clear" >
            KONTAKT
          </ion-button>
          <ion-button class="tk-hobo-std" href='/faq' expand="full" fill="clear" >
            FAQ
          </ion-button>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main"></ion-router-outlet>
      

      <app-loading *ngIf="busy"></app-loading>

      <div class="center" *ngIf="!busy">
      <div class="camera"></div>

      <input type="file" *ngIf="!imageURL" (change)="fileChanged($event)" class="filebtn" #fileButton />

      <ion-button shape="round" color="dark" class="mono" (click)="uploadFile()" *ngIf="!imageURL" fill="outline">Dodaj pracę</ion-button>

      <ion-card *ngIf="imageURL">
        <img src="https://ucarecdn.com/{{ imageURL }}/" />
        <ion-card-content>
          <ion-textarea placeholder="Wprowadź opis" [(ngModel)]="desc"></ion-textarea>
          <ion-button shape="round" color="dark" class="mono" fill="outline" (click)="createPost()">OPUBLIKUJ</ion-button>
        </ion-card-content>
      </ion-card>
    </div>


</ion-content>
