<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Shopping
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content color="pink">
  <ion-menu side="start" menuId="menu" contentId="main">
    <ion-content color="pink">
      <ion-segment><br></ion-segment>
      <ion-segment><br></ion-segment>
      <ion-segment>
        <ion-img  class="ion-text-center" style="width: 70px;" src="../../assets/LOGO.png" href='/home'></ion-img>
      </ion-segment>
      <ion-segment><br></ion-segment>
      <ion-button class="tk-hobo-std" href='/tabs/feed' expand="full" fill="clear" >
        PRACE
      </ion-button>
      <ion-button class="tk-hobo-std" href='/contact' expand="full" fill="clear" >
        KONTAKT
      </ion-button>
      <ion-button class="tk-hobo-std" href='/faq' expand="full" fill="clear" >
        FAQ
      </ion-button>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="pink" (click)="openCart()" #cart>
      <div class="cart-length">{{ cartItemCount | async }}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <h2 class="ion-text-center, mono">Opublikowane prace</h2>
    
    <ion-card color="light" class="ion-text-center" *ngFor="let item of images | async">
      <ion-card-header>
        <ion-card-title class="mono">{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img [src]="item.filepath" />
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="pink" >
              <ion-text class="mono">{{ item.author  }}   </ion-text>
            </ion-label>
            <br>
            <ion-label color="pink" >
              <ion-text class="mono">{{ item.price | currency:'EUR' : symbol  }}</ion-text>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" (click)="addToCart(p)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <!-- <ion-card *ngFor="let p of products">
      <ion-card-header>
        <ion-card-title class="mono">{{ p.desc }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row class="ion-align-items-center">
          <ion-col size="8">
            <ion-label color="pink" >
              <ion-text class="mono">{{ p.author  }}   </ion-text>
            </ion-label>
            <br>
            <ion-label color="pink" >
              <ion-text class="mono">{{ p.price | currency:'EUR' : symbol  }}</ion-text>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" (click)="addToCart(p)">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card> -->
  </ion-grid>
</ion-content>