<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="pink">
  <ion-menu side="start" menuId="menu" contentId="main">
    <ion-content color="pink">
      <ion-segment><br></ion-segment>
      <ion-segment><br></ion-segment>
      <ion-segment>
        <ion-img  class="ion-text-center" style="width: 70px;" src="../../assets/LOGO.png" href='/home'></ion-img>
      </ion-segment>
      <ion-segment><br></ion-segment>
      <ion-button class="tk-hobo-std" href='/tabs/feed' expand="full" fill="clear" >
        PRACE
      </ion-button>
      <ion-button class="tk-hobo-std" href='/contact' expand="full" fill="clear" >
        KONTAKT
      </ion-button>
      <ion-button class="tk-hobo-std" href='/faq' expand="full" fill="clear" >
        FAQ
      </ion-button>
      <ion-back-button defaultHref="/"></ion-back-button> 
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

  

<app-loading *ngIf="!posts"></app-loading>

<div id="profile-info" *ngIf="username">
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="user-image">
        <div class="user-image">
        <ion-img src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/200x200/center/"></ion-img>
      </div>
      </ion-col>
      <ion-col size="8">
        <h3>{{ username }}</h3>
        <ion-button shape="round" color="dark" class="mono" routerLink="/tabs/edit-profile">Edytuj profil</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

  <div *ngIf="posts">
    <div class="image" *ngFor="let post of posts">
      <ion-card class="ion-text-center">
        <ion-card-content>
        <ion-img (click)="goTo(post)" class="main-image"  [src]="post.filepath"></ion-img>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

