/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import '~animate.css/animate.min.css';

@import url("https://p.typekit.net/p.css?s=1&k=cit6gqv&ht=tk&f=16368.43886&a=34338562&app=typekit&e=css");
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

@font-face {
font-family:"hobo-std";
src:url("https://use.typekit.net/af/10fd15/0000000000000000000131c3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/10fd15/0000000000000000000131c3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/10fd15/0000000000000000000131c3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}


@font-face {
font-family:"flegrei";
src:url("https://use.typekit.net/af/74a5d1/00000000000000003b9b3d6e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/74a5d1/00000000000000003b9b3d6e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/74a5d1/00000000000000003b9b3d6e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}
.tk-hobo-std { font-family: "hobo-std",sans-serif; }
.tk-flegrei { font-family: "flegrei",sans-serif; }
.mono {font-family: 'DM Mono', monospace;}
*{
    font-family: hobo-std;
}
.arial {font-family: 'Arial', sans-serif;}


.button {
      --color: black;
      
}
a {
    background-color: transparent;
    color: var(--ion-color-pink-contrast, #000000);
  }
.textarea-wrapper {
  font-family: 'DM Mono', monospace;
}

ion-item{
    --background: #E8C9B7;
    --color: black;
}

.tabs-inner{
  --background: #E8C9B7;
}

ion-content {
  text-align: center;
}

.alert-title {
  font-family: 'DM Mono', monospace;
}

.alert-message {
  font-family: 'DM Mono', monospace;
}

.alert-input {
  font-family: 'DM Mono', monospace;
}
.alert-button-inner {
  color: black;
}
.cart-modal {
  --height: 50%;
  --border-radius: 10px;
  padding: 25px;
}