<ion-header [translucent]="true">
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>    
    </ion-buttons>  

    <ion-buttons slot="secondary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
       <ion-button href='/login'>
        logowanie
      </ion-button>
      <ion-button href='/registration'>
        rejestracja
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="cart-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="pink">
  <ion-menu side="start" menuId="menu" contentId="main" class="my-menu">
    <ion-content color="pink">
      <ion-segment><br></ion-segment>
      <ion-segment><br></ion-segment>
      <ion-segment>
        <ion-img  class="ion-text-center" style="width: 70px;" src="../../assets/LOGO.png" ></ion-img> <!-- logo w jakimkolwiek telefonie ucieka w prawo -->
      </ion-segment>
      <ion-segment><br></ion-segment>
      <ion-button (click)="openWorks()" expand="full" fill="clear" >
        PRACE
      </ion-button>
      <ion-button (click)="openInspiration()" expand="full" fill="clear" >
        INSPIRACJE
      </ion-button>
      <ion-button (click)="openFrames()" expand="full" fill="clear" >
        RAMY
      </ion-button>
      <ion-button (click)="openContact()" expand="full" fill="clear" >
        KONTAKT
      </ion-button>
      <ion-button (click)="openFAQ()" expand="full" fill="clear" >
        FAQ
      </ion-button>
    </ion-content>
  </ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>


<ion-img  src="../../assets/Background.png" ></ion-img>


<ion-footer>
  <!-- tutaj binding danych -->
  <ion-row class="ion-align-items-center">
    <ion-col>
      <h3>GALERIA</h3> <br>
      ULICA 00, <br>
      80-000 MIASTO<br>
      <br>
      GODZINY OTWARCIA<br>
      WT-PT 12:00-19:00<br>
      SOB 12:00-15:00
    </ion-col>
    <ion-col>
      <h3>KONTAKT</h3><br>
      JAN KOWALSKI <br>
      MAIL@MAIL.COM.PL<br>
      <br>
      ANNA NOWAK<br>
      BUIRO@MAIL.COM.PL
    </ion-col>
    <ion-col>
      <h3>MEDIA</h3><br>
      BIURO@MAIL.COM.PL<br>
      <br>
      DLA PRASY<br>
      <br>
      REGULAMIN
    </ion-col>
  </ion-row>
</ion-footer>
</ion-content>
