<ion-header [translucent]="true">
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>    
    </ion-buttons>  

    <ion-buttons slot="secondary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
       <ion-button href='/login' >
        <ion-icon slot="icon-only" name="person-sharp"></ion-icon>
      </ion-button>
      <ion-button onclick="openCart()">
        <ion-icon slot="icon-only" name="cart-sharp">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="pink">
  <ion-menu side="start" menuId="menu" contentId="main">
    <ion-content color="pink">
      <ion-segment><br></ion-segment>
      <ion-segment><br></ion-segment>
      <ion-segment>
        <ion-img  class="ion-text-center" style="width: 70px;" src="../../assets/LOGO.png" href='/home'></ion-img>
      </ion-segment>
      <ion-segment><br></ion-segment>
      <ion-button href='/tabs/feed' expand="full" fill="clear" >
        PRACE
      </ion-button>
      <ion-button (click)="openInspiration()" expand="full" fill="clear" >
        INSPIRACJE
      </ion-button>
      <ion-button (click)="openFrames()" expand="full" fill="clear" >
        RAMY
      </ion-button>
      <ion-button (click)="openContact()" expand="full" fill="clear" >
        KONTAKT
      </ion-button>
      <ion-button (click)="openFAQ()" expand="full" fill="clear" >
        FAQ
      </ion-button>
    </ion-content>
  </ion-menu>
 
<ion-router-outlet id="main"></ion-router-outlet>

<ion-img  src="../../assets/Background.png" ></ion-img>
<ion-button href='/tabs/feed' fill="solid" color="dark"  expand="block" size="medium" padding="30">
  <ion-label>zobacz prace artystów</ion-label>
</ion-button>
</ion-content>
